main {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

input {
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 1rem;
    text-align: center;
    outline: none;
    width: 300px;
}

.countryRow {
    min-width: 100px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    transition: 0.3s;
}

.countryRow span {
    color: #38ef7d;
    font-weight: bold;
}

.countryRow:hover {
    color: #fff;
    background-color: #000;
}
.countryRow:first-child {
    margin-top: 0px;
}
.scroll {
    overflow-y: scroll;
}

.flex {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.continent {
    max-height: 500px;
    overflow-y: auto;
    width: 350px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 1rem;
    text-align: center;
    outline: none;
    width: 300px;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}
